name: Sentry Release

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      NPM_GITHUB_TOKEN: ${{ secrets.NPM_GITHUB_PAT }}

    steps:
      - uses: actions/checkout@v3
      - name: Sentry Release
        uses: getsentry/action-release@v1.2.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          ignore_empty: true
